name: Build and cache with Nix

on:
  workflow_dispatch:
  push:
    paths:
    - '**'
    - '!.github/**'
    - '.github/workflows/nix.yml'

jobs:
  build-and-cache:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 740
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, macos-m1]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Nix with caching
      uses: kadena-io/setup-nix-with-cache/by-root@v3.1
      with:
        cache_url: s3://nixcache.chainweb.com?region=us-east-1
        signing_private_key: ${{ secrets.NIX_CACHE_PRIVATE_KEY }}
        additional_experimental_features: recursive-nix

    - name: Set up AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.NIX_CACHE_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.NIX_CACHE_AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Give root user AWS credentials
      uses: kadena-io/setup-nix-with-cache/copy-root-aws-credentials@v3.1
    
    # Needed for a certain test
    - name: Download chain9 test file
      run: |
        mkdir -p pact-tests/legacy-db-regression
        curl \
          -L https://chainweb-chain-db.s3.amazonaws.com/test-objects/pact-v1-chain-9.sqlite \
          -o pact-tests/legacy-db-regression/pact-v1-chain-9.sqlite

    - name: Build and cache artifacts
      run: |
        echo Building the project and its devShell
        nix build .#check --log-lines 500 --show-trace --accept-flake-config

        echo Build the bundle
        nix build .#pact-binary-bundle --log-lines 500 --show-trace --out-link pact-binary-bundle --accept-flake-config
        tar -zcvf pact-binary-bundle.${{ matrix.os }}.tar.gz $(readlink pact-binary-bundle)

        echo Build the recursive output
        nix build .#recursive.allDerivations --log-lines 500 --show-trace --accept-flake-config

    - name: Publish the bundle
      uses: actions/upload-artifact@v4
      with:
        name: pact-bundle.${{ matrix.os }}
        path: pact-binary-bundle
        retention-days: 5

    - name: Release latest build
      uses: ncipollo/release-action@v1.14.0
      with:
        artifacts: pact-binary-bundle.${{ matrix.os }}.tar.gz
        tag: development-latest
        replacesArtifacts: true
        allowUpdates: true
